<!doctype html>

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">


<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h1>Websites Used:</h1>
</head>

<body>
    <div class="row">https://getbootstrap.com/docs/4.0/getting-started/introduction/</div>
    <div class="row">https://css-tricks.com/snippets/css/a-guide-to-flexbox/</div>
    <div class="row">https://docs.djangoproject.com/en/3.1/intro/tutorial01/</div>
    <div class="row">https://data-flair.training/blogs/django-bootstrap/</div>
    <div class="row">https://www.youtube.com/watch?v=0mCZdemSsbs</div>
    <div class="row">https://mdbootstrap.com/docs/jquery/navigation/footer/</div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>